<% content_for :head do %>
  <style>

    #forum_div {
      width: 400px;
      margin: 0 auto 0 auto;
    }
  </style>

<% end %>
<div id="forum_div">
  <%= simple_form_for(@task) do |f| %>
    <%= f.input :name, :label => "Nazwa" %>
    <%= f.input :description, :label => "Opis", :as => :text %>
    <%= f.input :progress, :label => "Postęp", :collection => 1..10, :include_blank => false %>
    <%= f.input :priority, :label => "Priorytet", :as => :radio, :collection => 1..6 %>
    <%= f.button :submit, :value => "Prześlij" %>
  <% end %>
</div>
