- if user_signed_in?
  #wrapper
    %h1 Lista zadań:
    %table#lista
      %thead
        %tr
          %th.name Nazwa
          %th.progress Postęp
          %th.priority Priorytet
          %th
            %th
              %tbody
                - @tasks.each do |task|
                  %tr
                    %td.name
                      = link_to task.name, task, :class => "tname"
                    %td.progress 
                      = task.progress
                    %td.priority
                      = task.priority
                    %td
                      = link_to 'Edytuj', edit_task_path(task)
                    %td
                      = link_to 'Usuń', task, :confirm => 'Na pewno?', :method => :delete
    %h1
      Ilość zadań: #{@tasks.count}
    = link_to new_task_path, :class => "button orange" do
      %p Nowe zadanie
    %br/
- else
  %p Zaloguj się aby tworzyć i wyświetlać zadania!
  %br/
