<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Progress:</b>
  <%= @task.progress %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
