<p id="notice"><%= notice %></p>

<p>
  <b>Nazwa:</b>
  <%= @task.name %>
</p>

<p>
  <b>Opis:</b>
  <%= @task.description %>
</p>
<p>
  <b>Postęp:</b>
  <%= @task.progress %>
</p>

<p>
  <b>Priorytet:</b>
  <%= @task.priority %>
</p>


<%= link_to 'Edycja', edit_task_path(@task) %> |
<%= link_to 'Powrót', tasks_path %>
